PORT=5000
MONGO_URI=your_mongodb_connection_string_here
JWT_SECRET=pick_a_random_string_for_dev
CLOUDINARY_CLOUD_NAME=your_name
CLOUDINARY_API_KEY=your_key
CLOUDINARY_API_SECRET=your_secret
RECAPTCHA_SECRET_KEY=your_recaptcha_key
MAILTRAP_TOKEN=your_token
EMAIL_FROM=no-reply@yourdomain.com
MAILTRAP_USER=your_user
MAILTRAP_PASS=your_pass